@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700");
/*style*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.dd_body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}

.dd_container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background: #fff;
}

@media (min-width: 576px) {
  .dd_container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .dd_container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .dd_container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .dd_container {
    max-width: 1140px;
  }
}

.fluid-img {
  max-width: 100%;
}

.dd_slider-item.slick-slide {
  max-height: 414px;
  height: 100%;
}

.blog_area .list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.blog_area h1,
.blog_area h2,
.blog_area h3,
.blog_area h4,
.blog_area h5,
.blog_area h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.blog_area a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.blog_area a:hover,
.blog_area a:focus {
  text-decoration: none;
  outline: none;
}

.blog_area .row.m0 {
  margin: 0px;
}

.media {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
}

.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  -webkit-box-pack: center !important;
  justify-content: center !important;
}

.justify-content-between {
  -ms-flex-pack: justify !important;
  -webkit-box-pack: justify !important;
  justify-content: space-between !important;
}

.pagination {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.p_120 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.img-fluid {
  max-width: 100%;
}

.viewOffers {
  margin: auto;
  margin-top: 23px;
  padding: 20px 44px;
  border-radius: 3px;
  background-color: #34363a;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none !important;
  text-align: center;
}

.singleOffer .col-lg-4,
.singleOffer .col-lg-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 767px) {
  .singleOffer .col-lg-4 {
    -ms-flex: 0 0 40%;
    -webkit-box-flex: 0;
    flex: 0 0 40%;
    max-width: 40%;
  }

  .singleOffer .col-lg-8 {
    -ms-flex: 0 0 60%;
    -webkit-box-flex: 0;
    flex: 0 0 60%;
    max-width: 60%;
  }
}

@media (min-width: 992px) {
  .singleOffer .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .singleOffer .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}

.ddOffers__list .col-lg-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 767px) {
  .ddOffers__list .col-lg-4 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .ddOffers__list .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

.dd_container.transparent {
  background: transparent;
}

.dd_offers_banner {
  padding: 575px 0 112px;
  height: 1177px;
  text-align: center;
  background-position: center !important;
  position: relative;
  z-index: 2;
}

.dd_offers_banner h1 {
  -webkit-transform: rotate(-0.5deg);
  transform: rotate(-0.5deg);
  max-width: 700px;
  text-align: right;
  color: #ffffff;
  font-size: 38px;
  font-weight: 500;
  line-height: 64.97px;
  text-transform: uppercase;
  letter-spacing: 1.52px;
  margin: 0;
  margin-bottom: 20px;
  margin-left: auto;
  position: relative;
}

.dd_offers_banner h1 .text_shadow {
  opacity: 0.15;
  color: #ffffff;
  font-size: 38px;
  font-weight: 100;
  line-height: 65.15px;
  letter-spacing: 1.52px;
  position: absolute;
  right: 4px;
  top: -11px;
}

.dd_offers_banner p {
  text-shadow: 5px 0 4px rgba(0, 0, 0, 0.07);
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
  line-height: 42.79px;
  letter-spacing: 1.52px;
  margin: 0;
  margin-bottom: 53px;
  text-align: center;
}

.dd_offers_banner p.banner__subtitle {
  margin: 0;
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
  line-height: 65.79px;
  letter-spacing: 1.52px;
}

.ddOffers {
  position: relative;
  z-index: 1;
  margin-top: -105px;
  padding: 0;
  padding-top: 110px;
  background: #434646 url("../img/section2-bg.png") no-repeat;
  /* background-size: cover; */
}

.ddOffers .dd_container {
  padding-top: 0;
  padding-bottom: 0;
}

.category_row-sort {
  text-shadow: 5px 0 4px #000000;
  color: #ffffff;
  font-size: 23px;
  font-weight: 300;
  line-height: 51.04px;
  text-decoration: underline;
  letter-spacing: 1.2px;
}

.ddOffers__list {
  margin-top: 50px;
}

.ddOffers__item {
  display: block;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none !important;
  background-color: #fff;
  padding: 25px 15px;
  -webkit-box-shadow: 19px 3px 39px -3px rgba(0, 0, 0, 0.1);
  box-shadow: 19px 3px 39px -3px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.ddOffers__item:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

h3.offer_title {
  font-size: 14px;
}

.offers_area-title {
  font-size: 68px;
  font-weight: 100;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 25px;
  text-align: center;
}

.category_row {
  text-align: center;
}

.category_btn {
  cursor: pointer;
  display: inline-block;
  margin: 0 10px;
  background: #c7c7c7;
  border: none;
  border-radius: 2px;
  padding: 12px 35px;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  letter-spacing: .05px;
  -webkit-box-shadow: 19px 5px 29px -3px rgba(0, 0, 0, 0.1);
  box-shadow: 19px 5px 29px -3px rgba(0, 0, 0, 0.1);
  text-align: center;
  background: #ef3e42;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  -webkit-transition: .16s ease-out;
  transition: .16s ease-out;
  -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  border: 1px solid #ffffff;
  background-color: #d05450;
}

.category_btn:before {
  right: 10px;
  width: 6px;
  margin-top: -3px;
  margin-left: -5px;
  height: 6px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  content: "";
  position: absolute;
  -webkit-transition: .16s ease-out;
  transition: .16s ease-out;
  top: 50%;
}

.category_btn:after {
  right: 11px;
  width: 0;
  height: 2px;
  background-color: #fff;
  -webkit-transition: .16s ease-out;
  transition: .16s ease-out;
  content: "";
  position: absolute;
  top: 50%;
}

.category_btn:hover {
  -webkit-transition: .16s ease-out;
  transition: .16s ease-out;
  padding-right: 70px;
}

.category_btn:hover:before {
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}

.category_btn:hover:after {
  width: 15px;
}

.img_wrap img {
  height: 100%;
  width: auto;
}

.img_wrap {
  height: 50px;
}

.ddOffers__item {
  padding: 20px 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 40px 0 rgba(140, 130, 154, 0.1);
  box-shadow: 0 10px 40px 0 rgba(140, 130, 154, 0.1);
  background-color: #fff;
  padding: 25px 30px 27px 10px;
  border: 1px solid rgba(255, 156, 0, 0.001);
}

.ddOffers__item {
  color: #fff;
  border-radius: 0;
  -webkit-box-shadow: 0 10px 40px 0 rgba(140, 130, 154, 0.1);
  box-shadow: 0 10px 40px 0 rgba(140, 130, 154, 0.1);
  background-color: #35363b;
  padding: 20px 15px;
  height: 100%;
  border-bottom: 2px solid #ee534f;
}

.offer_info {
  margin-bottom: 15px;
  border-bottom: 1px solid #ef3e42;
}

.offer_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.dd_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

span.dd_item__title {
  font-size: 13px;
  color: #fff;
  display: block;
  white-space: nowrap;
  margin-bottom: 5px;
}

span.dd_item__count {
  font-size: 14px;
  font-weight: 700;
}

.ddOffers__list .col-lg-4 {
  margin-bottom: 30px;
}

@media (max-width: 991px) {
  .dd_offers_banner h1,
  .offers_area-title {
    font-size: 54px;
  }
}

@media (max-width: 768px) {
  .dd_offers_banner h1,
  .offers_area-title {
    font-size: 42px;
    margin-bottom: 35px;
  }

  .dd_offers_banner p {
    line-height: 28px;
    font-size: 18px;
  }

  .category_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 300px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
  }

  .category_btn {
    font-size: 16px;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 0px;
  }
}

@media (max-width: 550px) {
  .dd_offers_banner h1,
  .offers_area-title {
    font-size: 32px;
  }

  .dd_offers_banner p {
    line-height: 28px;
    font-size: 18px;
  }
}

.singleOffer__aside {
  color: #fff;
  background: #de4945;
  height: 100%;
  padding: 15px;
}

.singleOffer__aside_banner {
  font-weight: 300;
  font-size: 40px;
  padding: 15px 0px;
  line-height: 1;
  margin: 25px auto;
  color: #222629;
  line-height: 1;
  position: relative;
  margin: 25px auto;
  text-align: left;
  color: #ffffff;
}

.singleOffer__aside_banner:before {
  content: "";
  position: absolute;
  width: 85px;
  height: 1px;
  background-color: #fff;
  bottom: 0;
  left: 0px;
}

.singleOffer__aside .backToOffers {
  display: inline-block;
  width: 100%;
  color: #fff;
  text-decoration: none;
  position: relative;
  padding: 10px;
  padding-left: 35px;
  font-size: 20px;
  line-height: 1;
}

.singleOffer__aside .backToOffers:hover {
  text-decoration: underline;
}

.singleOffer__aside .backToOffers:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 10px;
  width: 6px;
  margin-top: -3px;
  margin-left: -5px;
  height: 6px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}

.singleOffer__aside .backToOffers:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 6px;
  width: 0;
  height: 2px;
  background-color: #fff;
  width: 15px;
}

.singleOffer__aside-btn {
  width: 227px;
  height: 60px;
  border-radius: 3px;
  background-color: #34363a;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none !important;
  text-align: center;
  margin: auto;
}

.singleOffer__content {
  background: #34363a;
  border: 2px solid #de4945;
  padding: 20px;
}

.singleOffer__content .singleOffer__title {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 26px;
}

.singleOffer__content-editor {
  color: #fff;
  line-height: 1.6;
}

.singleOffer__content-editor img {
  max-width: 200px;
  padding-left: 20px;
  float: right;
}

.singleOffer__content-editor p {
  font-weight: 300;
}

.singleOffer__content .startCampagin {
  border-radius: 3px;
  background-color: #de4945;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 19px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none !important;
  text-align: center;
  margin: auto;
  margin-top: 40px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .05px;
  padding: 20px;
  position: relative;
  -webkit-transition: .16s ease-out;
  transition: .16s ease-out;
}

.singleOffer__content .startCampagin:before {
  right: 10px;
  width: 6px;
  margin-top: -3px;
  margin-left: -5px;
  height: 6px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  content: "";
  position: absolute;
  -webkit-transition: .16s ease-out;
  transition: .16s ease-out;
  top: 50%;
}

.singleOffer__content .startCampagin:after {
  right: 11px;
  width: 0;
  height: 2px;
  background-color: #fff;
  -webkit-transition: .16s ease-out;
  transition: .16s ease-out;
  content: "";
  position: absolute;
  top: 50%;
}

.singleOffer__content .startCampagin:hover {
  -webkit-transition: .16s ease-out;
  transition: .16s ease-out;
  padding-right: 35px;
}

.singleOffer__content .startCampagin:hover:before {
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}

.singleOffer__content .startCampagin:hover:after {
  width: 15px;
}

.singleOffer__content .startCampagin__wrapper {
  text-align: center;
}

.singleOffer__content .disclaymer-text {
  margin-top: 50px;
  text-align: center;
  color: #fff;
  font-weight: 300;
  line-height: 1.5;
}

.singleOffer__content .disclaymer-text span {
  opacity: .8;
}

.singleOffer__advan-title {
  font-size: 26px;
  line-height: 30px;
  font-weight: 100;
}

.singleOffer__advan ul {
  padding-left: 0;
}

.singleOffer__advan li {
  opacity: .8;
  font-size: 18px;
  font-weight: 400;
  list-style: none;
  line-height: 1.4;
  padding: 0 0 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.singleOffer__advan li img {
  width: 20px;
  display: block;
  margin-left: -30px;
  margin-right: 15px;
  margin-top: 5px;
}

@media (max-width: 991px) {
  .singleOffer__aside_banner {
    font-size: 34px;
  }
}

@media (max-width: 767px) {
  .singleOffer__aside {
    margin-top: 40px;
  }

  .singleOffer .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}

@media (max-width: 550px) {
  .singleOffer__content-editor img {
    padding-left: 0;
    float: none;
  }

  .singleOffer__content {
    background: transparent;
    padding: 10px;
    border: none;
  }
}