@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700");
/*style*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.dd_body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}

.dd_container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background: #fff;
}

@media (min-width: 576px) {
  .dd_container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .dd_container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .dd_container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .dd_container {
    max-width: 1140px;
  }
}

.fluid-img {
  max-width: 100%;
}

.dd_slider-item.slick-slide {
  max-height: 414px;
  height: 100%;
}

.blog_area .list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.blog_area h1,
.blog_area h2,
.blog_area h3,
.blog_area h4,
.blog_area h5,
.blog_area h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.blog_area a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.blog_area a:hover,
.blog_area a:focus {
  text-decoration: none;
  outline: none;
}

.blog_area .row.m0 {
  margin: 0px;
}

.media {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
}

.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  -webkit-box-pack: center !important;
  justify-content: center !important;
}

.justify-content-between {
  -ms-flex-pack: justify !important;
  -webkit-box-pack: justify !important;
  justify-content: space-between !important;
}

.pagination {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.p_120 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.img-fluid {
  max-width: 100%;
}

.viewOffers {
  margin: auto;
  margin-top: 23px;
  padding: 20px 44px;
  border-radius: 3px;
  background-color: #34363a;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none !important;
  text-align: center;
}

.singleOffer .col-lg-4,
.singleOffer .col-lg-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 767px) {
  .singleOffer .col-lg-4 {
    -ms-flex: 0 0 40%;
    -webkit-box-flex: 0;
    flex: 0 0 40%;
    max-width: 40%;
  }

  .singleOffer .col-lg-8 {
    -ms-flex: 0 0 60%;
    -webkit-box-flex: 0;
    flex: 0 0 60%;
    max-width: 60%;
  }
}

@media (min-width: 992px) {
  .singleOffer .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .singleOffer .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}

.ddOffers__list .col-lg-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 767px) {
  .ddOffers__list .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 992px) {
  .ddOffers__list .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

.dd_container.transparent {
  background: transparent;
}

.dd_offers_banner {
  padding: 418px 0 142px;
  height: 897px;
  text-align: center;
  background-position: center !important;
  position: relative;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  z-index: 2;
}

.dd_offers_banner h1 {
  -webkit-transform: rotate(-0.5deg);
  transform: rotate(-0.5deg);
  max-width: 600px;
  text-align: center;
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 48.32px;
  letter-spacing: 1.52px;
  margin: 0;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: 110px;
  position: relative;
}

.dd_offers_banner h1 .text_shadow {
  opacity: 0.15;
  color: #ffffff;
  font-size: 36px;
  font-weight: 300;
  line-height: 48.44px;
  position: absolute;
  left: 15px;
  top: -7px;
}

.dd_offers_banner p {
  text-shadow: 5px 0 4px rgba(0, 0, 0, 0.07);
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
  line-height: 48.86px;
  letter-spacing: 1.52px;
  max-width: 842px;
  margin: 0 auto;
  margin-bottom: 33px;
  text-align: center;
}

.dd_offers_banner p.banner__subtitle {
  margin: 0 auto;
  text-shadow: 5px 0 4px rgba(0, 0, 0, 0.07);
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
  line-height: 48.86px;
  letter-spacing: 1.52px;
}

.ddOffers {
  position: relative;
  z-index: 1;
  margin-top: -105px;
  padding: 0;
  padding-top: 110px;
  background: #434646 url("../img/section2-bg.png") no-repeat;
  /* background-size: cover; */
}

.ddOffers .dd_container {
  padding-top: 0;
  padding-bottom: 0;
}

.category_row-sort {
  color: #ffffff;
  font-size: 23px;
  font-weight: 300;
  line-height: 51.04px;
  text-decoration: none;
  letter-spacing: 1.2px;
  margin-bottom: 48px;
}

.ddOffers__item {
  display: block;
  color: #fff;
  text-decoration: none !important;
  background-color: transparent;
  padding: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 0;
}

.ddOffers__item-content {
  padding: 0 40px;
}

.ddOffers__list .col-lg-4:first-child .ddOffers__item-content {
  border-right: 2px solid #d56b5f;
}

.ddOffers__list .col-lg-4:last-child .ddOffers__item-content {
  border-left: 2px solid #d56b5f;
}

h3.offer_title {
  font-size: 22px;
  font-weight: 300;
  position: relative;
  text-align: center;
  margin-top: 15px;
}

h3.offer_title:after {
  margin: auto;
  margin-top: 5px;
  content: "";
  display: block;
  width: 127px;
  height: 3px;
  background-image: linear-gradient(-130deg, #cf3d43 50%, #fffdfd 56%, white 100%);
}

.offers_area-title {
  font-size: 68px;
  font-weight: 100;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 25px;
  text-align: center;
}

.category_row {
  margin-top: 15px;
  margin-bottom: 45px;
  text-align: center;
}

.category_btn {
  cursor: pointer;
  display: inline-block;
  margin: 0 10px;
  background: #c7c7c7;
  border: none;
  border-radius: 2px;
  padding: 12px 35px;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  letter-spacing: .05px;
  text-align: center;
  background: #ef3e42;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  -webkit-transition: .16s ease-out;
  transition: .16s ease-out;
  border-radius: 3px;
  border: none;
  background-color: #d05450;
}

.category_btn:before {
  right: 10px;
  width: 6px;
  margin-top: -3px;
  margin-left: -5px;
  height: 6px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  content: "";
  position: absolute;
  -webkit-transition: .16s ease-out;
  transition: .16s ease-out;
  top: 50%;
}

.category_btn:after {
  right: 11px;
  width: 0;
  height: 2px;
  background-color: #fff;
  -webkit-transition: .16s ease-out;
  transition: .16s ease-out;
  content: "";
  position: absolute;
  top: 50%;
}

.category_btn:hover {
  -webkit-transition: .16s ease-out;
  transition: .16s ease-out;
  padding-right: 70px;
}

.category_btn:hover:before {
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}

.category_btn:hover:after {
  width: 15px;
}

.img_wrap img {
  height: 100%;
  width: auto;
}

.img_wrap {
  height: 50px;
  text-align: center;
}

.offer_info {
  margin-bottom: 15px;
}

.offer_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.dd_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-bottom: 10px;
}

span.dd_item__title {
  font-size: 16px;
  color: #fff;
  display: block;
  white-space: nowrap;
}

span.dd_item__count {
  font-size: 16px;
  font-weight: 300;
  margin-left: 5px;
  opacity: 0.7;
}

.ddOffers__list .col-lg-4 {
  margin-bottom: 60px;
}

.btn-center {
  text-align: center;
}

.show_singleOffer {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
  margin-top: 35px;
  border: none;
  border-radius: 3px;
  padding: 12px 35px;
  position: relative;
  letter-spacing: .05px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: .16s ease-out;
  transition: .16s ease-out;
  background-color: #d05450;
  text-transform: uppercase;
}

.show_singleOffer:before {
  right: 10px;
  width: 6px;
  margin-top: -3px;
  margin-left: -5px;
  height: 6px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  content: "";
  position: absolute;
  -webkit-transition: .16s ease-out;
  transition: .16s ease-out;
  top: 50%;
}

.show_singleOffer:after {
  right: 11px;
  width: 0;
  height: 2px;
  background-color: #fff;
  -webkit-transition: .16s ease-out;
  transition: .16s ease-out;
  content: "";
  position: absolute;
  top: 50%;
}

.show_singleOffer:hover {
  -webkit-transition: .16s ease-out;
  transition: .16s ease-out;
  padding-right: 45px;
}

.show_singleOffer:hover:before {
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}

.show_singleOffer:hover:after {
  width: 15px;
}

@media (max-width: 1366px) {
  .dd_offers_banner {
    padding: 280px 0 25px;
    height: auto;
  }
}

@media (max-width: 991px) {
  * br {
    display: none;
  }

  .category_row-sort {
    margin-bottom: 0;
    font-size: 20px;
  }

  .dd_offers_banner h1 {
    margin-right: 0;
  }

  .dd_offers_banner {
    padding: 190px 0 20px;
    height: auto;
    background-position: left top !important;
    background-size: cover !important;
    background-image: url("../img/tablet-bg.png") !important;
  }

  .dd_offers_banner h1 {
    font-size: 36px;
    line-height: 48.32px;
  }

  .dd_offers_banner h1 .text_shadow {
    left: -9px;
    top: -6px;
  }

  .dd_offers_banner p {
    font-size: 20px;
    line-height: 30.86px;
    margin-bottom: 25px;
  }

  .dd_offers_banner p.banner__subtitle {
    font-size: 20px;
    line-height: 30.86px;
  }

  .ddOffers__item-content {
    padding: 0 16px;
  }

  span.dd_item__count {
    font-size: 14px;
    line-height: 22px;
  }

  span.dd_item__title {
    font-size: 14px;
  }

  .category_btn {
    padding: 9px 22px;
    margin: 0 5px;
    font-size: 16px;
  }

  .category_btn:hover {
    padding-right: 40px;
  }
}

@media (max-width: 768px) {
  .dd_offers_banner {
    background-position: 59% 59% !important;
  }

  .dd_offers_banner h1 {
    font-size: 30px;
    line-height: 44px;
    margin-bottom: 20px;
  }

  .dd_offers_banner h1 .text_shadow {
    font-size: 30px;
    line-height: 44px;
  }

  .dd_offers_banner p {
    line-height: 28px;
    font-size: 18px;
  }

  .dd_offers_banner p.banner__subtitle {
    line-height: 28px;
    font-size: 18px;
  }

  .category_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    max-width: 350px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 45px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .category_btn {
    font-size: 14px;
    width: calc(50% - 10px);
    /* margin: 0; */
    margin-bottom: 15px;
    margin-top: 0px;
    padding: 9px 9px;
  }

  .category_btn:hover {
    padding-right: 20px;
  }

  .category_row-sort {
    margin-bottom: 10px;
    font-size: 18px;
    width: 100%;
  }

  .ddOffers__list .col-lg-4:first-child .ddOffers__item-content,
  .ddOffers__list .col-lg-4:last-child .ddOffers__item-content {
    border: none;
  }

  .ddOffers__item {
    padding-bottom: 25px;
    border-bottom: 2px solid #d05450;
  }

  .show_singleOffer {
    margin-top: 20px;
  }

  .ddOffers__list .col-lg-4 {
    margin-bottom: 40px;
  }
}

@media (max-width: 550px) {
  .dd_offers_banner h1,
  .offers_area-title {
    font-size: 32px;
  }

  .dd_offers_banner p {
    line-height: 28px;
    font-size: 18px;
  }

  .dd_offers_banner h1,
  .offers_area-title {
    font-size: 28px;
    line-height: 38px;
    margin-right: auto;
    margin-bottom: 16px;
  }

  .dd_offers_banner {
    padding: 135px 0 11px;
    height: auto;
    text-align: center;
    background-position-y: 0 !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-image: url("../img/mobile-bg.png") !important;
  }

  .dd_offers_banner h1 .text_shadow {
    font-size: 28px;
    line-height: 38px;
    top: -4px;
    left: -9px;
  }

  .dd_offers_banner p {
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 33px;
  }

  .dd_offers_banner p.banner__subtitle {
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 34px;
  }

  * br {
    display: none;
  }
}

@media (max-height: 820px) and (min-width: 992px) {
  .dd_offers_banner {
    padding: 340px 0 142px;
    height: 770px;
  }
}

@media (max-height: 730px) and (min-width: 992px) {
  .dd_offers_banner {
    padding: 299px 0 126px;
    height: 700px;
  }
}

@media (max-height: 680px) and (min-width: 992px) {
  .dd_offers_banner {
    padding: 190px 0 20px;
    height: auto;
    background-position: left top !important;
    background-size: cover !important;
    background-image: url("../img/tablet-bg.png") !important;
  }

  .dd_offers_banner p {
    margin-bottom: 20px;
  }
}

.blogOffers .col-lg-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 767px) {
  .blogOffers .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 992px) {
  .blogOffers .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

.blogOffers {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 65px 0;
}

.blogOffers .dd_container {
  margin: auto;
  max-width: 1000px;
  background: transparent;
  padding: 0 50px;
}

.blogOffers .page__title {
  text-shadow: 4px 0 8px rgba(0, 0, 0, 0.14);
  color: #ffffff;
  font-size: 48px;
  font-weight: 300;
  line-height: 48.71px;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-top: 0;
}

.blogOffers__slider-wrapper {
  position: relative;
}

.blogOffers__item {
  -webkit-box-shadow: 0 0 13px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 13px 4px rgba(0, 0, 0, 0.5);
  background-color: #393b40;
  background-color: #37393e;
  padding: 10px;
  color: #fff;
  margin: 15px 3px;
}

.blogOffers__item-img {
  display: block;
  height: 145px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.blogOffers__item-img img {
  max-width: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  max-height: 145px;
}

.blogOffers__item-img:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0.7;
}

.blogOffers__item-title {
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1.29px;
  line-height: 30.62px;
  margin-top: 10px;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
  display: block;
  text-decoration: none;
}

.blogOffers__item-title:hover {
  text-decoration: underline;
}

.blogOffers__item-content {
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 24px;
}

.blogOffers__item-date {
  font-weight: 300;
  text-align: right;
  font-size: 14px;
  letter-spacing: 0.83px;
  line-height: 21.62px;
}

.slick-track,
.slick-list,
.col-lg-4 {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  outline: none !important;
}

.blogOffers__slider-arrow {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  outline: none !important;
  position: absolute;
  top: calc(50%);
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.blogOffers__slider-arrow:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.blogOffers__slider-prev {
  left: -35px;
}

.blogOffers__slider-next {
  right: -35px;
}

@media (max-width: 991px) {
  .blogOffers__slider-prev {
    left: -28px;
  }

  .blogOffers__slider-next {
    right: -28px;
  }

  .blogOffers .dd_container {
    max-width: 768px;
    padding: 0 35px;
  }
}

@media (max-width: 767px) {
  .blogOffers .dd_container {
    max-width: 380px;
  }

  .blogOffers .page__title {
    font-size: 32px;
    line-height: 32.71px;
    margin-bottom: 15px;
  }

  .blogOffers {
    margin-top: 0;
    padding: 40px 0;
  }

  .blogOffers__item-img {
    height: 116px;
  }

  .blogOffers__item-img img {
    max-height: 116px;
  }

  .blogOffers__item-title {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 20px;
  }

  .blogOffers__item-content {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 25px;
  }

  .blogOffers__item-date {
    font-size: 12px;
  }
}

.inHouse {
  padding-top: 60px;
  background-repeat: repeat;
  background-position: center;
}

.inHouse .dd_container {
  background: transparent;
}

.inHouse .page__title {
  margin-top: 0;
  display: inline-block;
  text-align: center;
  margin-bottom: 60px;
  text-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-size: 38px;
  font-weight: 300;
  line-height: 38px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  z-index: 0;
}

.inHouse .page__title:after {
  content: "";
  display: block;
  width: 201px;
  height: 6px;
  background-color: #cf3d43;
  opacity: 0.7;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

@media (max-width: 767px) {
  .inHouse {
    padding-top: 50px;
    padding-bottom: 10px;
  }

  .inHouse .page__title {
    font-size: 30px;
    line-height: 30px;
  }

  .inHouse .page__title:after {
    width: 150px;
  }
}

body,
html {
  overflow-x: hidden;
}