// grid


.singleOffer {
    .col-lg-4, .col-lg-8 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
 }
}

@media (min-width: 767px) {
 
    .singleOffer  {
        .col-lg-4 {
            -ms-flex: 0 0 40%;
                flex: 0 0 40%;
            max-width: 40%;
          }
          
          .col-lg-8 {
            -ms-flex: 0 0 60%;
                flex: 0 0 60%;
            max-width: 60%;
          }   
      }
    
 
 }
 
 
 
 @media (min-width: 992px) {

    .singleOffer {
        .col-lg-4 {
            -ms-flex: 0 0 33.333333%;
                flex: 0 0 33.333333%;
            max-width: 33.333333%;
          }
          
          .col-lg-8 {
            -ms-flex: 0 0 66.666667%;
                flex: 0 0 66.666667%;
            max-width: 66.666667%;
          }   
    }
    
 }
  


.ddOffers__list .col-lg-4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
 }
 
 @media (min-width: 767px) {
 
     .ddOffers__list .col-lg-4 {
         -ms-flex: 0 0 50%;
             flex: 0 0 50%;
         max-width: 50%;
       }
     
  
  }
 
 
 @media (min-width: 992px) {
 
    .ddOffers__list .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
        max-width: 33.333333%;
      }
    
 
 }

.dd_container.transparent {
    background: transparent;
}

.dd_offers_banner {
    padding: 125px 0 150px;
    text-align: center;

    h1 {
        color: #fff;
        font-size: 68px;
        font-weight: 100;
        margin: 0;
        margin-bottom: 50px;
    }
    p {
        line-height: 41px;
        font-size: 27px;
        color: #fff;
        font-weight: 300;
    }
}

.ddOffers {
    padding: 50px 0;
}

.ddOffers__list {
    margin-top: 50px;
}

.ddOffers__item {
    display: block;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none !important;
    background-color: #fff;
    padding: 25px 15px;
    box-shadow: 19px 3px 39px -3px rgba(0, 0, 0, 0.1);
}

h3.offer_title {
    font-size: 14px;
}


.offers_area-title {
    font-size: 68px;
    font-weight: 100;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 25px;
    text-align: center;
}

.category_row {
    text-align: center;
}

.category_btn {
    cursor: pointer;
    display: inline-block;
    margin: 20px 10px;
    margin-top: 20px;
    background: #c7c7c7;
    border: none;
    border-radius: 2px;
    padding: 12px 35px;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    letter-spacing: .05px;
    box-shadow: 19px 5px 29px -3px rgba(0, 0, 0, 0.1);
    text-align: center;
    background: #ef3e42;
    color: #fff;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    // &:before {
    //     right: 10px;
    //     width: 6px;
    //     margin-top: -3px;
    //     margin-left: -5px;
    //     height: 6px;
    //     -webkit-transform: rotate(-45deg);
    //     transform: rotate(-45deg);
    //     content: "";
    //     position: absolute;
    //     top: 50%;
    // }
    // &:after {
    //     right: 11px;
    //     width: 0;
    //     height: 2px;
    //     background-color: #fff;
    //     -webkit-transition: .16s ease-out;
    //     transition: .16s ease-out;
    //     content: "";
    //     position: absolute;
    //     top: 50%;
    // }
    // &:hover {
    //     transition: .16s ease-out;
    //     padding-right: 35px;
    //     &:before {
    //         border-bottom: 2px solid #fff;
    //         border-right: 2px solid #fff;
    //     }
    //     &:after {
    //         width: 15px;
    //     }
    // }
}



.img_wrap img {
    height: 100%;
    width: auto;
}

.img_wrap {
    height: 50px;
}

.ddOffers__item {
    padding: 20px 10px;
    border-radius: 5px;
    box-shadow: 0 10px 40px 0 rgba(140,130,154,.1);
    background-color: #fff;
    padding: 25px 30px 27px 10px;
    border: 1px solid rgba(255,156,0,.001);
}

.ddOffers__item {
    color: #fff;
    border-radius: 0;
    -webkit-box-shadow: 0 10px 40px 0 rgba(140, 130, 154, 0.1);
    box-shadow: 0 10px 40px 0 rgba(140, 130, 154, 0.1);
    background-color: #35363b;
    padding: 20px 15px;
    height: 100%;
    // margin-bottom: 30px;
    // border: 1px solid rgba(255, 156, 0, 0.001);
    border: 2px solid #ee534f;
    border-bottom: 2px solid #ee534f;
}

.offer_info {
    margin-bottom: 15px;
    border-bottom: 1px solid #ef3e42;
}

.offer_data {
    display: flex;
    justify-content: space-between;
}

.dd_item {
    display: flex;
    width: 50%;
    flex-direction: column;
}

span.dd_item__title {
    font-size: 13px;
    color: #fff;
    display: block;
    white-space: nowrap;
    margin-bottom: 5px;
}

span.dd_item__count {
    font-size: 14px;
    font-weight: 700;
}

.ddOffers__list .col-lg-4 {
    margin-bottom: 30px;
}

// media

@media (max-width: 991px) {

    .dd_offers_banner h1,
    .offers_area-title {
        font-size: 54px;
    }

}

@media (max-width: 768px) {

    .dd_offers_banner h1,
    .offers_area-title {
        font-size: 42px;
        margin-bottom: 35px;
    }
    .dd_offers_banner p {
        line-height: 28px;
        font-size: 18px;
    }

    .category_row {
        display: flex;
        margin: auto;
        flex-direction: column;
        max-width: 300px;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .category_btn {
        font-size: 16px;
        width: 100%;
        margin-bottom: 15px;
        margin-top: 0px;
    }

}

@media (max-width: 550px) {

    .dd_offers_banner h1,
    .offers_area-title {
        font-size: 32px;
    }

    .dd_offers_banner p {
        line-height: 28px;
        font-size: 18px;
    }

}

// offer single

.singleOffer__aside {
    color: #fff;
    background: #de4945;
    height: 100%;
    padding: 15px;
    &_banner {
        background: #fff;
        border: 3px solid #222627;
        font-weight: 700;
        font-size: 24px;
        padding: 20px 10px;
        text-align: center;
        line-height: 1;
        margin: 25px auto;
        color: #222629;
    }
    .backToOffers {
        display: inline-block;
        width: 100%;
        color: #fff;
        text-decoration: none;
        position: relative;
        padding: 10px;
        padding-left: 35px;
        font-size: 20px;
        line-height: 1;
        &:hover {
            text-decoration: underline;
        }
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 10px;
            width: 6px;
            margin-top: -3px;
            margin-left: -5px;
            height: 6px;
            -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
        }
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 6px;
            width: 0;
            height: 2px;
            background-color: #fff;
            width: 15px;
        }
    }

    &-btn {
        width: 227px;
        height: 60px;
        border-radius: 3px;
        background-color: #34363a;
        border: none;
        color: #fff;
        // font-family: Lato, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 19px;
        text-transform: uppercase;
        letter-spacing: 2px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        cursor: pointer;
        text-decoration: none !important;
        text-align: center;
        margin: auto;
    }

}

.singleOffer__content {
    background: #34363a;
    border: 2px solid #de4945;
    padding: 20px;

    .singleOffer__title {
        font-size: 30px;
        font-weight: 400;    
        margin-bottom: 26px;
    }

    &-editor {
        color: #fff;
        line-height: 1.6;
        img {
            max-width: 200px;
            padding-left: 20px;
            float: right;
        }
        p {
            font-weight: 300;
        }
    }

    .startCampagin {

        border-radius: 3px;
        background-color: #de4945;
        border: none;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        line-height: 19px;
        // text-transform: uppercase;  
        display: inline-block;
        cursor: pointer;
        text-decoration: none !important;
        text-align: center;
        margin: auto;
        margin-top: 40px;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: .05px;
        padding: 20px;
        position: relative;
        -webkit-transition: .16s ease-out;
        transition: .16s ease-out;
         &:before {
            right: 10px;
            width: 6px;
            margin-top: -3px;
            margin-left: -5px;
            height: 6px;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            content: "";
            position: absolute;
            -webkit-transition: .16s ease-out;
            transition: .16s ease-out;
            top: 50%;
        }
        &:after {
            right: 11px;
            width: 0;
            height: 2px;
            background-color: #fff;
            -webkit-transition: .16s ease-out;
            transition: .16s ease-out;
            content: "";
            position: absolute;
            top: 50%;
        }
        &:hover {
            -webkit-transition: .16s ease-out;
            transition: .16s ease-out;
            padding-right: 35px;
            &:before {
                border-bottom: 2px solid #fff;
                border-right: 2px solid #fff;
            }
            &:after {
                width: 15px;
            }
        }
    }

    .startCampagin__wrapper {
        text-align: center;
    }

    .disclaymer-text {
        margin-top: 50px;
        text-align: center;
        color: #fff;
        font-weight: 300;
        line-height: 1.5;
        span {
            opacity: .8;
        }
    }

}

.singleOffer__advan-title {
    font-size: 26px;
    line-height: 30px;
    font-weight: 100;
}


.singleOffer__advan {

    ul {
        padding-left: 0;
    }
    li {
        opacity: .8;
        font-size: 18px;
        font-weight: 400;
        list-style: none;
        line-height: 1.4;
        padding: 0 0 20px 30px;
        display: flex;
        align-items: flex-start;
        img {
            width: 20px;
            display: block;
            margin-left: -30px;
            margin-right: 15px;
            margin-top: 5px;
        }
    }
}

// media

@media (max-width: 767px) {

    .singleOffer__content {
        margin-top: 40px;
    }


}

@media (max-width: 550px) {

    .singleOffer__content-editor img {
        padding-left: 0;
        float: none;
    }

    .singleOffer__content {
        background: transparent;
        padding: 10px;
        border: none;
    }


}