// grid

.viewOffers {
    margin: auto;
    margin-top: 23px;
    padding: 20px 44px;
    border-radius: 3px;
    background-color: #34363a;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none !important;
    text-align: center;
}

.singleOffer {
    .col-lg-4, .col-lg-8 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
 }
}

@media (min-width: 767px) {
 
    .singleOffer  {
        .col-lg-4 {
            -ms-flex: 0 0 40%;
                flex: 0 0 40%;
            max-width: 40%;
          }
          
          .col-lg-8 {
            -ms-flex: 0 0 60%;
                flex: 0 0 60%;
            max-width: 60%;
          }   
      }
    
 
 }
 
 
 
 @media (min-width: 992px) {

    .singleOffer {
        .col-lg-4 {
            -ms-flex: 0 0 33.333333%;
                flex: 0 0 33.333333%;
            max-width: 33.333333%;
          }
          
          .col-lg-8 {
            -ms-flex: 0 0 66.666667%;
                flex: 0 0 66.666667%;
            max-width: 66.666667%;
          }   
    }
    
 }
  


.ddOffers__list .col-lg-4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
 }
 
 @media (min-width: 767px) {
 
     .ddOffers__list .col-lg-4 {
        //  -ms-flex: 0 0 50%;
        //      flex: 0 0 50%;
        //  max-width: 50%;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
    max-width: 33.333333%;
       }
     
  
  }
 
 
 @media (min-width: 992px) {
 
    .ddOffers__list .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
        max-width: 33.333333%;
      }
    
 
 }

.dd_container.transparent {
    background: transparent;
}

.dd_offers_banner {
    padding: 418px 0 142px;
    height: 897px;
    text-align: center;
    background-position: center !important;
    position: relative;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    z-index: 2;
    h1 {
        transform: rotate(-0.5deg);
        max-width: 600px;
        text-align: center;
        color: #ffffff;
        font-size: 36px;
        font-weight: 700;
        line-height: 48.32px;
        letter-spacing: 1.52px;
        margin: 0;
        margin-bottom: 16px;
        margin-left: auto;
        margin-right: 110px;
        position: relative;
        // background: url(../img/title_bg.png) no-repeat;
        .text_shadow {
            opacity: 0.15;
            color: #ffffff;
            font-size: 36px;
            font-weight: 300;
            line-height: 48.44px;
            position: absolute;
            left: 15px;
            top: -7px;
        }
    }
    p {
        text-shadow: 5px 0 4px rgba(0, 0, 0, 0.07);
        color: #ffffff;
        font-size: 30px;
        font-weight: 300;
        line-height: 48.86px;
        letter-spacing: 1.52px;
        max-width: 842px;
        margin: 0 auto;
        margin-bottom: 33px;
        text-align: center;
    }
    p.banner__subtitle {
        margin: 0 auto;
        text-shadow: 5px 0 4px rgba(0, 0, 0, 0.07);
        color: #ffffff;
        font-size: 30px;
        font-weight: 500;
        line-height: 48.86px;
        letter-spacing: 1.52px;

    }
}

.ddOffers {
    position: relative;
    z-index: 1;
    margin-top: -105px;
    padding: 0;
    padding-top: 110px;
    background: #434646 url(../img/section2-bg.png) no-repeat;
    /* background-size: cover; */
}

.ddOffers {
    .dd_container {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.category_row-sort {
    text-shadow: 5px 0 4px #000000;
    color: #ffffff;
    font-size: 23px;
    font-weight: 300;
    line-height: 51.04px;
    text-decoration: none;
    letter-spacing: 1.2px;
    margin-bottom: 48px;
}


.ddOffers__item {
    display: block;
    color: #fff;
    // cursor: pointer;
    text-decoration: none !important;
    background-color: transparent;
    padding: 0;
    transition: all 0.3s;
    margin-bottom: 0;
    // &:hover {
    //     transform: scale(1.05);
    //     transition: all 0.3s;
    // }

}

.ddOffers__item-content {
    padding: 0 40px;
}

.ddOffers__list .col-lg-4 {
    &:first-child {
        .ddOffers__item-content {
            border-right: 2px solid #d56b5f;
        }
    }
    &:last-child {
        .ddOffers__item-content {
            border-left: 2px solid #d56b5f;
        }
    }
}

h3.offer_title {
    font-size: 16px;
    font-weight: 300;
    position: relative;
    text-align: center;
    margin-top: 12px;
    &:after {
        margin: auto;
        margin-top: 3px;
        content: "";
        display: block;
        width: 127px;
        height: 3px;
        background-image: linear-gradient(-130deg, #cf3d43 50%, #fffdfd 56%, white 100%);
    }
}


.offers_area-title {
    font-size: 68px;
    font-weight: 100;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 25px;
    text-align: center;
}

.category_row {
    margin-top: 15px;
    margin-bottom: 45px;
    text-align: center;
}

.category_btn {
    cursor: pointer;
    display: inline-block;
    margin: 0 10px;
    background: #c7c7c7;
    border: none;
    border-radius: 2px;
    padding: 12px 35px;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    letter-spacing: .05px;
    box-shadow: 19px 5px 29px -3px rgba(0, 0, 0, 0.1);
    text-align: center;
    background: #ef3e42;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    -webkit-transition: .16s ease-out;
    transition: .16s ease-out;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    border: none;
    background-color: #d05450;
    &:before {
        right: 10px;
        width: 6px;
        margin-top: -3px;
        margin-left: -5px;
        height: 6px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        content: "";
        position: absolute;
        -webkit-transition: .16s ease-out;
        transition: .16s ease-out;
        top: 50%;
    }
    &:after {
        right: 11px;
        width: 0;
        height: 2px;
        background-color: #fff;
        -webkit-transition: .16s ease-out;
        transition: .16s ease-out;
        content: "";
        position: absolute;
        top: 50%;
    }
    &:hover {
        -webkit-transition: .16s ease-out;
        transition: .16s ease-out;
        padding-right: 70px;
        &:before {
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
        }
        &:after {
            width: 15px;
        }
    }
}



.img_wrap img {
    height: 100%;
    width: auto;
}

.img_wrap {
    height: 50px;
    text-align: center;
}


.offer_info {
    margin-bottom: 15px;

}

.offer_data {
    display: flex;
    flex-direction: column;
}

.dd_item {
    display: flex;
    flex-grow: 1;
    margin-bottom: 10px;
}

span.dd_item__title {
    font-size: 16px;
    color: #fff;
    display: block;
    white-space: nowrap;
}

span.dd_item__count {
    font-size: 16px;
    font-weight: 300;
    margin-left: 5px;
    opacity: 0.7;
}

.ddOffers__list .col-lg-4 {
    margin-bottom: 60px;
}

.btn-center {
    text-align: center;
}

.show_singleOffer {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    margin-top: 35px;
    border: none;
    border-radius: 3px;
    padding: 12px 35px;
    position: relative;
    letter-spacing: .05px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    -webkit-transition: .16s ease-out;
    transition: .16s ease-out;
    background-color: #d05450;
    text-transform: uppercase;
    &:before {
        right: 10px;
        width: 6px;
        margin-top: -3px;
        margin-left: -5px;
        height: 6px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        content: "";
        position: absolute;
        -webkit-transition: .16s ease-out;
        transition: .16s ease-out;
        top: 50%;
    }
    &:after {
        right: 11px;
        width: 0;
        height: 2px;
        background-color: #fff;
        -webkit-transition: .16s ease-out;
        transition: .16s ease-out;
        content: "";
        position: absolute;
        top: 50%;
    }
    &:hover {
        -webkit-transition: .16s ease-out;
        transition: .16s ease-out;
        padding-right: 45px;
        &:before {
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
        }
        &:after {
            width: 15px;
        }
    }
}

// media

@media (max-width: 991px) {

    // .dd_offers_banner h1,
    // .offers_area-title {
    //     font-size: 54px;
    // }

    * {
        br {
            display: none;
        }
    }

    .category_row-sort {
        margin-bottom: 0;
        font-size: 20px;
    }

    .dd_offers_banner h1 {
        margin-right: 0;
    }

    .dd_offers_banner {
        padding: 150px 0 80px;
        height: auto;
        background-position: 70% 69% !important;
        background-size: initial !important;
    }

    .dd_offers_banner h1 {
        font-size: 36px;
        line-height: 48.32px;
        .text_shadow {
            left: -9px;
            top: -6px;
        }
    }

    .dd_offers_banner p {
        font-size: 20px;
    line-height: 30.86px;
        margin-bottom: 25px;
    }

    .dd_offers_banner p.banner__subtitle {
        font-size: 20px;
        line-height: 30.86px;
    }

    .ddOffers__item-content {
        padding: 0 16px;
    }

    span.dd_item__count {
        font-size: 14px;
        line-height: 22px;
    }

    span.dd_item__title {
        font-size: 14px;
    }

    .category_btn {
        padding: 9px 22px;
        margin: 0 5px;
        font-size: 16px;
    }

    .category_btn:hover {
        padding-right: 40px;
    }


}

@media (max-width: 768px) {

    .dd_offers_banner {
        background-position: 59% 59% !important;
    }

    .dd_offers_banner h1 {
        font-size: 30px;
        line-height: 44px;
        margin-bottom: 20px;
    }

    .dd_offers_banner h1 .text_shadow {
        font-size: 30px;
        line-height: 44px;
    }

    .dd_offers_banner p {
        line-height: 28px;
        font-size: 18px;
    }

    .dd_offers_banner p.banner__subtitle {
        line-height: 28px;
        font-size: 18px;
    }

    .category_row {
        display: flex;
        margin: auto;
        max-width: 350px;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 45px;
        flex-wrap: wrap;
    }

    .category_btn {
        font-size: 14px;
        width: calc(50% - 10px);
        /* margin: 0; */
        margin-bottom: 15px;
        margin-top: 0px;
        padding: 9px 9px;
    }

    .category_btn:hover {
        padding-right: 20px;
    }

    .category_row-sort {
        margin-bottom: 10px;
        font-size: 18px;
        width: 100%;
    }

    

    .ddOffers__list .col-lg-4:first-child .ddOffers__item-content,
    .ddOffers__list .col-lg-4:last-child .ddOffers__item-content {
        border: none;
    }

    .ddOffers__item {
        padding-bottom: 25px;
    border-bottom: 2px solid #d05450;
    }

    .show_singleOffer {
        margin-top: 20px;
    }

    .ddOffers__list .col-lg-4 {
        margin-bottom: 40px;
    }

}

@media (max-width: 550px) {

    .dd_offers_banner h1,
    .offers_area-title {
        font-size: 32px;
    }

    .dd_offers_banner p {
        line-height: 28px;
        font-size: 18px;
    }

    .dd_offers_banner h1, .offers_area-title {
        font-size: 28px;
        line-height: 38px;
        margin-right: auto;
        margin-bottom: 16px;
    }

    .dd_offers_banner {
        padding: 114px 0 95px;
        height: auto;
        text-align: center;
        background-position-y: 92% !important;
        background-repeat: no-repeat !important;
        background-size: initial !important;
    }

    .dd_offers_banner h1 .text_shadow {
        font-size: 28px;
        line-height: 38px;
        top: -4px;
        left: -9px;
    }


    .dd_offers_banner p {
        line-height: 28px;
        font-size: 18px;
        margin-bottom: 33px;
    }

    .dd_offers_banner p.banner__subtitle {
        line-height: 28px;
        font-size: 18px;
        margin-bottom: 34px;
    }

    * {
        br {
            display: none;
        }
    }

}


// responsive height


@media (max-height: 820px) {


    .dd_offers_banner {
        padding: 340px 0 142px;
        height: 770px;
    }

}


@media (max-height: 730px) {

    .dd_offers_banner {
        padding: 299px 0 126px;
        height: 700px;
    }

}

@media (max-height: 680px) {

    .dd_offers_banner {
        padding: 223px 0 126px;
        height: 729px;
        background-size: 106% !important;
        background-position: 82% 180% !important;
    }

    .dd_offers_banner p {
        margin-bottom: 20px;
    }

}